= form_for [ @poll, @question ] do |f|
  - if @question.errors.any?
    #error_explanation
      %h3= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      - @question.errors.full_messages.each do |msg|
        =content_tag :div, msg, :id => "Error", class: "flash bg-success"

  %p
    = f.label :title
    = f.text_area :title, class: "form-control"

  %p
    = f.label :kind

  .radio
    -@kind_options.each do |option|
      %label
        =f.radio_button :kind, option[1]
        =option[0]

  %p
    =f.fields_for :possible_answers do |c|
      .form-group
        .input-group
          .input-group-addon
            %strong +
          =c.text_field :title, class: "form-control", placeholder: "Enter a possible answer here"
          .input-group-addon
            %small{:class => "small" } Correct Ans
            =c.check_box :check, :checked => false

  %p
    = f.submit 'Save', class: "btn btn-primary"
