!!!
%html
  %head
    %title CP2M Applications - Wykeith (c) 2015
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "https://www.google.com/jsapi"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
    = csrf_meta_tags
  %body
    =render "nav"
    .container
      -flash.each do |name, msg|
        =content_tag :div, msg, :id => "flash_#{name}",class: "flash bg-success" if msg.is_a?(String)
      = yield
    =yield :footer
